force-app/main/default/flows/DummyRecord_AfterCreate_Flush_Asynchronously.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>No respawns. Enjoy digital afterlife.</description>
        <name>Flush_dummy_record</name>
        <label>Flush dummy record 🚽</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>EmptyRecycleBin</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__listOfSObjects</typeName>
            <typeValue>Dummy_Object__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__sobj</typeName>
            <typeValue>Dummy_Object__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>sobj</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EmptyRecycleBin</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Deleting a Dummy Record in an asynchronous context 🚽</description>
    <environments>Default</environments>
    <interviewLabel>DummyRecord_AfterCreate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DummyRecord_AfterCreate_Flush_Asynchronously</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <description>It has no further use, so stop wasting storage space and forcing electrons to work. Bye-bye.</description>
        <name>Delete_dummy_record</name>
        <label>Delete dummy record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Flush_dummy_record</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>Dummy_Object__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Delete_dummy_record</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
